<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
  <title>Search spare part</title>

  <link rel="stylesheet"
        href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css"
        integrity="sha384-B0vP5xmATw1+K9KRQjQERJvTumQW0nPEzvF6L/Z6nronJ3oUOFUFpCjEUQouq2+l"
        crossorigin="anonymous" />
</head>
<body>

<div class="container">

  <h3>Search spare part</h3>
  <hr/>

  <form th:action="@{search}" th:object="${serialNumber}" method="GET">

      <input type="text" th:field="*{serialNumber}" class="form-control col-5 mb-5" placeholder="Enter Serial number" />

    <button type="submit" class="btn btn-primary col-2">Search</button>
  </form>
  <hr/>

</div>

</body>
</html>